doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    //- link(rel="icon" href="" type="image/x-icon")
    //- link(rel="shortcut icon" href="" type="image/x-icon")
    block title
      title Document

    block head-script

  body
    #app
      block router-view
    block external-script
